* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #eaf159;
}
.block2 {
    width: 50%;
    height: 150px;
    border: 1px solid rgb(0, 21, 255);
    border-radius: 10px;
    background-color: rgb(198, 221, 78);
    text-align: center;
    margin-top: 10%;
    margin-left: 20%;
}